.category-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
  height: 40px;
  overflow-y: hidden;
  overflow-x: auto;
  list-style-type: none;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  padding: 0px;
}
.category-button {
  margin: 0px;
  border: transparent;
  font-size: 14px;
  color: #555252;
  background-color: #fff;
  text-align: center;
  padding-bottom: 20px;
}
.selected-button {
  color: #da7070;
  font-weight: bold;
  border-bottom: 2px solid #da7070;
}

@media (max-width: 768px) {
  .category-button {
    min-width: 160px;
  }
  .category-container {
    align-items: center;
    justify-content: left;
  }
}
