.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto";
    padding-left: 20px;
    padding-right: 20px;
}
.header-name {
    font-size: 18px;
}
.header-orders-container {
    display: flex;
    align-items: center;
}
.header-orders {
    display: none;
}
.header-button {
    position: relative;
    right: 10px;
    bottom: 10px;
    background-color: lightcoral;
    color: white;
    border: transparent;
    border-radius: 25px;
    font-size: 10px;
}

@media (min-width: 768px) {
    .header-orders {
        display: block;
        font-size: 14px;
        padding-right: 10px;
    }
    .header-name {
        font-size: 24px;
    }
}
